server:
  port: 8080

eureka:
  instance:
    hostname: msvc-gateway  # Nombre del servicio o contenedor de Gateway
    prefer-ip-address: false

  client:
    service-url:
      register-with-eureka: true
      fetch-registry: true
      defaultZone: ${EUREKA_SERVICEURL}:8761/eureka/  # Usar el nombre del servicio Docker
spring:
  application:
    name: msvc-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: false
      routes:
        - id: msvc-login
          uri: http://msvc-login:9091
          #uri: http://localhost:9091
          predicates:
          - Path=/api/acceso/**, /api/colores/**, /api/definir/**, /api/documentos/**, /api/erpmodulos/**, /api/tabla4/**, /api/usrxmodulos/**, /api/usuarios/** , /api/ventanas/**

        - id: msvc-recaudacion
          uri: http://msvc-recaudacion:9092
          #uri: http://localhost:9092
          predicates:
          - Path=/api/rec/cajas/**, /api/rec/facturas/**, /api/rec/interes/**, /api/rec/impuestos/**

        - id: msvc-comercializacion
          uri: http://msvc-comercializacion:9093
          #uri: http://localhost:9093
          predicates:
          - Path=/api/abonados/**, /api/aboxsuspension/**, /api/aguatramite/**, /api/anulpagos/**, /api/airxrete/**, /api/cajas/**, /api/catalogoitems/**, /api/categorias/**, /api/ccertificaciones/**, /api/clasificador/**, /api/clientes/**, /api/condmultasintereses/**, /api/convenios/**, /api/ctramites/**, /api/cuotas/**, /api/emisiones/**, /api/emisionindividual/**, /api/estadom/**, /api/facturas/**, /api/facelectro/**, /api/facturacion/**, /api/facturamodificaciones/**, /api/facxconvenio/**, /api/facxnc/**, /api/facxrecauda/**, /api/facdetallesimpuestos/**, /api/facturadetalles/**, /api/facturapagos/**, /api/fec_factura/**, /api/fec_retenciones/**, /api/fec_reteimpu/**,  /api/formacobro/**, /api/ifinan/**, /api/impuestos/**, /api/intereses/**, /api/itemxfact/**, /api/jasperReports/**, /auth/**, /api/lecturas/**, /api/liquidafac/**, /api/liquidatramite/**, /api/modulos/**, /api/novedades/**, /api/ntacredito/**, /api/nacionalidades/**, /api/personeriajuridica/**, /api/pliego24/**, /api/pliego/**, /api/ptoemision/**, /api/recaudacion/**, /api/recaudaxcaja/**, /api/reclamos/**, /api/retenciones/**, /api/rubroadicional/**, /api/rubros/**, /api/rutas/**, /api/rutasxemision/**, /api/rubroxfac/**, /api/servicios1/**, /api/suspensiones/**, /api/tipopago/**, /api/tipotramite/**, /api/tmpinteresxfac/**, /api/tpcertifica/**, /api/tpidentifica/**, /api/tpreclamo/**, /api/tramites1/**, /api/tramitenuevo/**, /api/ubicacionm/**, /api/usoitems/**, /api/valoresnc/**

        - id: msvc-pagosonline
          uri: http://msvc-pagosonline:32
          #uri: http://localhost:9094
          predicates:
            - Path=/api/pagonline/facturas/**

        - id: msvc-gestiondocumental
          uri: http://msvc-gestiondocumental:9095
          #uri: http://localhost:9095
          predicates:
            - Path=/api/conservacion_documental/**, /api/gdcajas/**, /api/ingreso_documento/**, /api/inventario/**, /api/seccion/**, /api/series/**,  /api/subsecciones/**, /api/subseries/**

        - id: msvc-sri
          #uri: http://msvc-sri:9096
          uri: http://localhost:9096
          predicates:
            - Path=/api/sri/**, /api/singsend/**

        - id: msvc-reportesjr
          uri: http://msvc-reportesjr:9097
          #uri: http://localhost:9097
          predicates:
            - Path=/api/jasperReports/**, /api/jasper/**

        - id: msvc-epmapaapi
          uri: http://msvc-epmapaapi:9098
          #uri: http://localhost:9098
          predicates:
            - Path=/api/epmapaweb/**