# Copiar como .env y ajustar valores reales

# Configuracion base compartida
TZ=America/Guayaquil
JAVA_TOOL_OPTIONS=-Duser.timezone=America/Guayaquil

# Base de datos
DB_URL=jdbc:postgresql://localhost:5432/ErpEpmapaT2
DB_USER=postgres
DB_PASS=REEMPLAZAR_DB_PASS

# Servicios comunes
HOST=http://localhost
MAIL_USERNAME=facturacion@epmapatulcan.gob.ec
MAIL_PASSWORD=REEMPLAZAR_PASSWORD_CORREO
MAIL_HOST=smtp.elasticemail.com
